body {
	height: 98vh;
	background: url("img/ocean_bkgnd.jpg") no-repeat center center fixed;
	background-size: contain;
	background-color: black;
	font-family: 'Press Start 2P', cursive;
}

#game-boundary {
	width: 99%;
	height: 560px;
	position: absolute;
	top: 162px;
}

#dolphin {
	width: 254px;
	height: 86px;
	position: absolute;
	top: 350px;
	left: 600px;
}

#squid {
	width: 230px;
	left: 50px;
	position: absolute;
	top: 350px;
}

#obstacle {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 60vh;
	left: 1575px;
	right: 0;
}

#seahorse-wall {
	position: absolute;
	left: 1600px;
	top: 165px;
	height: 560px;
	width: 50px;
}

.seahorse {
	display: block;
	padding: 5px 0px;
	width: 100%;
	height: 60px;
}

#empty {
	display: block;
	padding: 5px 0px;
	width: 100%;
	height: 120px;
}

#scoreboard {
	position: absolute;
	bottom: 0;
	left: 10;
	padding: 0px 0px 0px 30px;
	font-size: 26px;
	color: white;
}

.green {
	color: #08940c;
}

.white {
	color: white;
}