body {
	height: 98vh;
	background: url("img/ocean_bkgnd.jpg");
	background-size: contain;
	background-color: black;
}

#game-boundary {
	width: 99%;
	height: 560px;
	position: absolute;
	top: 162px;
}

#dolphin {
	width: 254px;
	height: 86px;
	position: absolute;
	top: 350px;
	left: 600px;
}

#squid {
	width: 230px;
	left: 50px;
	position: absolute;
	top: 350px;
}

#obstacle {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 60vh;
	left: 1575px;
	right: 0;
}

#seahorse-wall {
	position: absolute;
	left: 1600px;
	top: 167px;
	height: 560px;
	width: 54px;
}

.seahorse {
	display: block;
	padding: 5px 0px;
	width: 100%;
	height: 69px;
}

#empty {
	display: block;
	padding: 5px 0px;
	width: 100%;
	height: 138px;
}